<div class="navbar">
    <div class="container">
        <ul>
            <li class="nav-title">BVF Security</li>
            <li class="menu-item"><a routerLink="/tela-inicial">Tela Inicial</a></li>
            <li class="menu-item"><a routerLink="/monitoramento">Monitoramento</a></li>
            <li class="menu-item"><a routerLink="/clientesadministrador">Clientes</a></li>
            <li class="menu-item"><a routerLink="/funcionarios">Equipe</a></li>
            <li class="dropdown">
                <button class="drop-button">
                    Cadastrar
                </button>
                <div class="dropdown-content">
                    <a routerLink="/clientesadministrador/novo">Clientes</a>
                    <a routerLink="/funcionarios/novo">Funcionários</a>
                    <a routerLink="/equipamentos/novo">Equipamentos</a>
                    <a routerLink="/veiculos/novo">Veículos</a>
                    <a routerLink="/enderecos/novo">Endereços</a>
                </div>
            </li>
        </ul>
    </div>
</div>