<div class="container">
    <div class="ui-g">
        <div class="ui-g-4">
            <h1 class="titulo-pesquisa">Funcionários - Cadastro</h1>
            <hr class="division-cadastro-funcionario">
            <br />
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="nome-pesquisa">Nome do Funcionário</label>
            <input pInputText class="input-f-nome">
            <br />
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="login-pesquisa">Login</label>
            <input pInputText class="input-login" type="text">
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="senha-pesquisa">Senha</label>
            <input pInputText class="input-f-senha" type="text">
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="categoria-pesquisa">Categoria</label>
            <input pInputText class="input-categoria" type="text">
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="veiculo-pesquisa">Veículo</label>
            <input pInputText class="input-veiculo" type="text">
        </div>
        <div class="button-posicionamento">
            <button class="button-salvar" pButton type="submit" label="Salvar" icon="pi pi-save"></button>
            <button class="button-retorno" pButton routerLink="/funcionarios"
                label="Voltar aos Registros" icon="pi pi-arrow-left"></button>
        </div>F
    </div>
</div>