/* ESTILIZAÇÃO --- MENSAGENS FORMULÁRIO ERRO */

.error-message-1 {
    color: red;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
    position: absolute;
    margin-left: 535px;
    margin-top: 20px;
}

.error-message-2 {
    color: red;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
    position: absolute;
    margin: 0;
    margin-right: 600px;
    margin-top: 80px;
}

.error-message-3 {
    color: red;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
    position: absolute;
    margin: 0;
    margin-left: 300px;
    margin-top: 50px;
}

.error-message-4 {
    color: red;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
    position: absolute;
    margin: 0;
    margin-right: 700px;
    margin-top: 90px;
}

.error-message-5 {
    color: red;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
    position: absolute;
    margin: 0;
    margin-left: -150px;
    margin-top: 50px;
}

.notificacao {
    color: red;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
    position: absolute;
    margin: 0;
    margin-left: 700px;
    margin-top: 15px;
}