<div class="container">
    <div class="ui-g">
        <div class="ui-g-4">
            <h1 class="titulo-pesquisa">Clientes Administradores - Cadastro</h1>
            <hr class="division-pesquisa-cliente">
            <br />
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="nome-pesquisa">Nome do Cliente</label>
            <input pInputText class="input-nome" type="text">

            <br />
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="email-pesquisa">E-mail</label>
            <input pInputText class="input-email" type="text">
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="senha-pesquisa">Senha</label>
            <input pInputText class="input-senha" type="text">
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="telefone-pesquisa">Telefone</label>
            <input pInputText class="input-telefone" type="text">
        </div>
        <div class="ui-g-12 ui-md-9 ui-fluid">
            <label class="cpf-pesquisa">CPF</label>
            <input pInputText class="input-cpf" type="text">
        </div>
        <div class="button-posicionamento">
            <button class="button-salvar" pButton type="submit" label="Salvar" icon="pi pi-save"></button>
            <button class="button-retorno" pButton routerLink="/clientes-administrador" label="Voltar aos Registros"
                icon="pi pi-arrow-left"></button>
        </div>
    </div>
</div>